<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta charset="utf-8"> 
	<title>Error:: {error_type, error_header}</title>
	<style>
		* {
			font-family:Arial, Verdana, sans-serif;
			font-size:1em;
		}
		
		body {
			padding:0 10px 10px;
			margin:0;
			background-color:#F2F2F2;
			color:#000;
		}
		
		h1, h4, p {
			padding:0;
			margin:0;
		}
		
		
		h1 {
			font-size:26px;
			font-weight:normal;
			line-height:60px;
			color:#000;
		}
		
		
		div.section {
			color:#fff;
			padding:10px;
			margin-bottom:20px;
			background-color:#9B9B9B;
		}
			div.section h4 {
				font-size:18px;
				color:#000;
				margin-bottom:10px;
			}
			div.section p {
				padding:10px;
				background-color:#000;
				color:#EAE8E8;
				font-size:13px;
			}
		
		ul {
			list-style-type:none;
			padding:10px;
			background-color:#000;
			color:#EAE8E8;
			font-size:13px;
		}
			ul li {
				line-height:18px;
			}
	</style>
</head>
<body>
	<h1>
		<%= @title %>
	</h1>
	
	
	<!-- Response status -->
	<div class="section">
		<h4>Response status</h4>
		<p style="color:#E52424; font-size:16px;"><b>500</b></p>
	</div>
	<!-- Response status -->
	
	
	<!-- Error trace -->
	<div class="section">
		<h4>Framework Stack Trace</h4>
		<ul style="margin-bottom:0;">
		<% for item in @error_stack: %>
			<li><%= item %></li>
		<% end %>
		</ul>
	</div>
	<!-- /Error trace -->
	
	
	<!-- Request object -->
	<div class="section">
		<h4>Request object</h4>
		<ul style="margin-bottom:0;">
			<li><b>url</b>: <%= @request_object.url %></li>
			<li><b>params</b>: <%= JSON.stringify(@request_object.params) %></li>
			<li><b>controller</b>: <%= @controller %></li>
			<li><b>action</b>: <%= @action %></li>
		</ul>
	</div>
	<!-- /Request object -->
</body>
</html>